.auth-menu {
  #default > .mobile-menu-list();

  &__item {
    #default > .mobile-menu-item();

    @media @desktop {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__link {
    #default > .mobile-menu-link();
  }
}
