.menu {
  &__list {
    #default > .mobile-menu-list();
  }

  &__item {
    #default > .mobile-menu-item();
  }

  &__link {
    #default > .mobile-menu-link();
  }

  &__item &__link:hover &__icon,
  &__item &__link:focus &__icon {
    @media @tablet-landscape-max {
      fill: @color-text;
    }
  }
}
