/** Fonts **/
.include-font(@file, @family, @weight: normal, @style: normal) {
  @font-face {
    font-weight: @weight;
    font-family: @family;
    font-style: @style;
    src: url('@{file}.woff2') format('woff2'), url('@{file}.woff') format('woff');
    font-display: swap;
  }
}

/** Media Queries **/
@phone-landscape: ~'only screen and (min-width: @{phone-landscape-size})';
@tablet: ~'only screen and (min-width: @{tablet-size})';
@tablet-landscape: ~'only screen and (min-width: @{tablet-landscape-size})';
@desktop: ~'only screen and (min-width: @{desktop-size})';
@desktop-large: ~'only screen and (min-width: @{desktop-large-size})';

@phone-max: ~'only screen and (max-width: @{to-tablet-size})';
@tablet-max: ~'only screen and (max-width: @{to-tablet-landscape-size})';
@tablet-landscape-max: ~'only screen and (max-width: @{to-desktop-size})';
@desktop-max: ~'only screen and (max-width: @{to-desktop-large-size})';

@phone-only: ~'(min-width: @{phone-size}) and (max-width: @{to-tablet-size})';
@phone-landscape-only: ~'(min-width: @{phone-landscape-size}) and (max-width: @{to-tablet-size})';
@tablet-only: ~'(min-width: @{tablet-size}) and (max-width: @{to-tablet-landscape-size})';
@tablet-landscape-only: ~'(min-width: @{tablet-landscape-size}) and (max-width: @{to-desktop-size})';
@tablet-all-only: ~'(min-width: @{tablet-size}) and (max-width: @{to-desktop-size})';
@desktop-only: ~'(min-width: @{desktop-size}) and (max-width: @{to-desktop-large-size})';

/** Mixins tile **/
.column-mixin(@count, @margin) when (@count = 1) {
  width: 100%;
}

.column-mixin(@count, @margin) when (@count > 1) {
  width: ~'calc(' (100% / @count) ~' - ' ((@margin * (@count - 1)) / @count) ~')';
}

.column-mixin(@count, @margin) {
  margin-top: @margin;
  margin-right: @margin;

  &:nth-child(@{count}n) {
    margin-right: 0;
  }

  &:nth-child(-n + @{count}) {
    margin-top: 0;
  }
}

.placeholder(@color) {
  &::-webkit-input-placeholder {
    color: @color;
  }

  &:-moz-placeholder {
    color: @color;
  }

  &::-moz-placeholder {
    color: @color;
  }

  &:-ms-input-placeholder {
    color: @color;
  }
}

.string-cat(@lines, @lineHeight) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @lines; /* number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: @lineHeight; /* fallback */
  max-height: @lineHeight * @lines; /* fallback */
}
