#default {
  .reset-indents {
    margin: 0;
    padding: 0;
  }

  .reset-indents-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .button {
    display: inline-flex;
    font-family: @font-main;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
  }

  .mobile-menu-list {
    flex-direction: column;

    @media @desktop {
      flex-direction: row;
    }
  }

  .mobile-menu-item {
    @media @tablet-landscape-max {
      margin-right: 0;
      border-bottom: 1px solid @gray_dark;
      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: @gray_dark;
      }
    }
  }

  .mobile-menu-link {
    @media @tablet-landscape-max {
      display: block;
      padding: 15px;
      color: @color-text;

      &:hover,
      &:focus {
        color: @color-text;
      }
    }
  }
}
