/** Colors **/
@color-main_lighten: #5e6778;
@color-main_light: #287ec2;
@color-main: #19263f;

@color-secondary: #85B657;
@color-secondary_dark: #479300;

@color-text_light: #737373;
@color-text: #000000;
@color-text_contrast: #ffffff;

@color-link: #1657ab;

@color-button-main: #ffffff;
@color-button-main-text: @color-text;
@color-button-main-border: @color-secondary;

@gray: #fafafa;
@gray_dark: darken(@gray, 10%);

@color-warning: #ffff00;
@color-error: #ff0000;

/** Variable media queries **/
@phone-size:               320px;
@phone-landscape-size:     450px;
@tablet-size:              600px;
@tablet-landscape-size:    900px;
@desktop-size:             1120px;
@desktop-large-size:       1440px;

@to-tablet-size:           599px;
@to-tablet-landscape-size: 899px;
@to-desktop-size:          1119px;
@to-desktop-large-size:    1439px;

/** Fonts **/
@font: 'PT Sans';
@font-second: 'Open Sans';

@font-main: '@{font}', Arial, sanf-serif;
@font-secondary: '@{font-second}', Arial, sans-serif;

/** Path **/
@svg-path: '../assets/image/svg';
