.main-page-item {
  margin-top: 30px;
  margin-bottom: 30px;

  @media @tablet {
    margin-bottom: 40px;
  }

  @media @tablet-landscape {
    margin-top: 85px;
    margin-bottom: 85px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__slogan {
    margin-top: 0;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 30px;

    @media @tablet-landscape {
      margin-bottom: 45px;
    }
  }
}
