.tile {
  &__list {
    #default > .reset-indents-list();

    @media @tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;

    @media @phone-only {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media @tablet {
      padding-top: 25px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
    }

    @media @tablet-only {
      .column-mixin(2, 10px);
    }

    @media @tablet-landscape {
      padding: 10px;
      .column-mixin(3, 25px);
    }
  }

  &_theme_gray &__item {
    background-color: @gray;
    transition: box-shadow 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    @media @tablet-landscape {
      padding-top: 40px;
      padding-right: 35px;
      padding-left: 35px;
      padding-bottom: 30px;
    }
  }

  &__image-container {
    margin-bottom: 15px;
    text-align: center;

    @media @tablet {
      margin-bottom: 20px;
    }

    @media @tablet-landscape {
      margin-bottom: 25px;
    }
  }

  &__image {
    width: 65px;
    height: 65px;
    fill: @color-secondary_dark;
  }

  &_theme_gray &__image {
    fill: @color-main_light;
  }

  &__slogan {
    #default > .reset-indents();
    margin-bottom: 10px;
    text-align: center;
  }

  &__description {
    #default > .reset-indents();
    text-align: center;
    font-size: 12px;
    line-height: 16px;

    @media @tablet-landscape {
      width: 270px;
      margin-left: auto;
      margin-right: auto;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &_theme_gray &__description {
    margin-bottom: 20px;
    text-align: left;

    @media @tablet {
      margin-bottom: 25px;
    }

    @media @tablet-landscape {
      margin-bottom: 35px;
    }
  }

  &__footer {
    margin-top: auto;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    transition: color 0.15s linear;

    &:hover,
    &:focus {
      color: @color-main;
    }
  }

  &__button-container {
    margin-top: 35px;
    text-align: center;
  }
}
