h1,
h2,
h3,
p {
  #default > .reset-indents();
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: @font-secondary;
  font-size: 38px;
  line-height: 48px;
  font-weight: 300;

  @media @tablet {
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 48px;
    line-height: 58px;
  }
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media @tablet {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 23px;
  }
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;

  @media @tablet {
    font-size: 18px;
  }
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;

  @media @tablet {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 21px;
  }
}
