.container {
  width: auto;
  box-sizing: border-box;
  margin-right: 0;
  margin-left: 0;
  padding-right: 20px;
  padding-left: 20px;

  @media @tablet {
    padding-right: 25px;
    padding-left: 25px;
  }

  @media @tablet-landscape {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media @desktop {
    width: 1120px;
    margin-right: auto;
    margin-left: auto;
  }
}
