.menu-list {
  #default > .reset-indents-list();
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 25px;

    @media @desktop {
      margin-right: 60px;
    }

    &:last-child {
      margin-right: 0;
    }

    &_view_sub-menu {
      @media @desktop {
        margin-right: 45px;
      }
    }
  }

  &__link {
    position: relative;
    font-size: 14px;
    color: @color-text_contrast;
    text-decoration: none;
    transition: color 0.15s linear;

    @media @desktop {
      font-size: 16px;
    }

    &:hover,
    &:focus {
      color: @color-warning;
      text-decoration: none;
    }

    &:active {
      color: @color-error;
    }
  }

  &__item_view_sub-menu &__link {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    fill: @color-text;
    transition: fill 0.15s linear;

    @media @desktop {
      width: 12px;
      height: 12px;
      margin-left: 5px;
      fill: @color-text_contrast;
    }
  }

  &__item_view_sub-menu &__link:hover &__icon,
  &__item_view_sub-menu &__link:focus &__icon {
    fill: @color-warning;
  }

  &__item_view_sub-menu &__link:active &__icon {
    fill: @color-error;
  }
}
